body.aanpassen {
  background-color: black;
  margin: 0px;
}

h1.grootte {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  margin-left: 20px;
  padding:10px;
 
}

h1.grootte:hover{
  cursor: pointer;
 background-color: #333;
  border-radius:20px ;
}
a.link_verkennen {
  text-decoration: none;
 
}

main.twitter-inleiding {
  margin-left: 110px;
}

section.verkennen {
  display: flex;
  align-items: center;
}

img.logo-twitter {
  margin-top: 10px;
  margin-bottom: 15px;
}

img.logo-twitter:hover {
  background-color: lightblue;
  cursor: pointer;
  border-radius: 50%;

}

section.instelling {
  display: flex;
  align-items: center;

}

img.gear {
  margin-top: 20px;
}

h2.grootte {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  margin-left: 20px;
  margin-bottom: -20px;
  padding: 12px;
}

h2.grootte:hover {
  cursor: pointer;
  background-color: #333;
  border-radius: 30px;
}

a.link_instellingen {
  text-decoration: none;
}


div.border {
  border-left: 1px solid white;
  height: 730px;
  margin-left: 400px;
  margin-top: -190px;
}

div.border2 {
  border-left: 1px solid white;
  height: 730px;
  margin-left: 1050px;
  margin-top: -730px;
}

/* footer */

footer.onderkant {
  background-color: #1DA1F2;
  padding-top: 3px;
  padding-bottom: 14px;
  margin-top: -50px;

}

h1.footer-tekst {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 23px;
  font-weight: bold;
  margin: 0px;
  margin-left: 400px;
  margin-top: -37px;


}

p.footer-tekst {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  margin-left: 400px;


}

button.button-footer {
  background-color: #1DA1F2;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 1150px;
  margin-top: 14px;


}

div.button-display-flex {
  display: flex;
  gap: 12px;
}


button.button-footer:hover {
  cursor: pointer;
}

button.button-footer2 {
  background-color: white;
  color: black;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 14px;

}

button.button-footer2:hover {
  cursor: pointer;
}

/* popup van Inloggen */

div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(91, 112, 131, 0.4);
}


div.modal-content {
  background-color: black;
  margin: 10% auto;
  width: 40%;
  height: 85%;
  border-radius: 3%;
  margin-top: 67px;
  margin-left: 455px;

}


span.close {
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 9px;
  padding-left: 8px;
  padding-right: 8px;
}

span.close:hover,
span.close:focus {
  text-decoration: none;
  background-color: #333;
  cursor: pointer;
  border-radius: 50%;

}

/* Inloggen  */
img.logo-twitter2 {
  margin-top: 2px;
  margin-left: 215px;
}

h1.grootte2 {
  font-size: 31px;
  color: white;
  margin-left: 145px;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



input.form {
  margin-left: 140px;
  padding: 16px;
  width: 45%;
  padding-left: 20px;
  background-color: black;
  border-radius: 20%;
  background-color: black;
  color: white;
  border-radius: 4px;
margin-top: 55px;
}

input.form2 {
  margin-left: 140px;
  padding: 16px;
  width: 45%;
  padding-left: 20px;
  background-color: black;
  border-radius: 20%;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin-top: 30px;
}

input.form3 {
  background-color: white;
  padding: 12px;
  margin-top: 20px;
  margin-left: 135px;
  width: 54%;
  border-radius: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-top: 30px;
  font-size: 15px;
}

input.form3:hover {
  cursor: pointer;
}

button.form4:hover {
  cursor: pointer;
}



h2.Registreren {
  color: #71767b;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  margin-left: 140px;
  margin-top: 50px;
  text-decoration: none;
}

a.Registreren {
  color: #1DA1F2;
  text-decoration: none;

}

a.Registreren:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* registreren/ popup2 */


div.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(91, 112, 131, 0.4);
}


div.modal-content2 {
  background-color: black;
  margin: 10% auto;
  width: 40%;
  height: 85%;
  border-radius: 3%;
  margin-top: 67px;
  margin-left: 455px;

}


span.close2 {
  color: white;
  float: left;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 9px;
  padding-left: 8px;
  padding-right: 8px;
}

span.close2:hover,
span.close2:focus {
  text-decoration: none;
  background-color: #333;
  cursor: pointer;
  border-radius: 50%;

}



/* Registreren  */

img.logo-twitter3 {
  margin-top: 2px;
  margin-left: 215px;
}

h1.tekst-accountaanmaken {
  font-size: 31px;
  color: white;
  margin-left: 135px;
  margin-top: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


button.form5 {
  margin-left: 130px;
  padding: 12px;
  width: 54%;
  padding-left: 20px;
  background-color: black;
  background-color: white;
  color: black;
  border-radius: 50px;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;

}

button.form5:hover {
  cursor: pointer;
}

/* links naar twitter zelf */

p.algemene-voorwaarden {
  color: rgb(113, 118, 123);
  margin-left: 130px;

}

a.voorwaarden {
  color: rgb(29, 161, 242);
  text-decoration: none;
}

a.voorwaarden:hover {
  text-decoration: underline;
}

a.Privacybeleid {
  color: rgb(29, 161, 242);
  text-decoration: none;
}

a.Privacybeleid:hover {
  cursor: pointer;
  text-decoration: underline;
}

a.cookies {
  color: rgb(29, 161, 242);
  text-decoration: none;
}

a.cookies:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* tabel rechts */



h1.tekst-tabel {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  margin-left: 1100px;
  margin-top: -725px;
  font-weight: bolder;

}

p.tekst-tabel2 {
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #71767b;
  margin-left: 1100px;
  margin-top: 10px;

}

button.account {
  margin-left: 1100px;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  padding: 12px;
  width: 20%;
  border-radius: 50px;
  font-weight: bolder;
}

button.account:hover {
  cursor: pointer;

}

p.tekst-tabel3 {
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #71767b;
  margin-left: 1100px;
  margin-top: 15px;

}

a.link-tabel {
  color: #1DA1F2;
  text-decoration: none;
}

a.link-tabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.link2-tabel {
  color: #1DA1F2;
  text-decoration: none;
}

a.link2-tabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

a.link3-tabel {
  color: #1DA1F2;
  text-decoration: none;
}

a.link3-tabel:hover {
  text-decoration: underline;
  cursor: pointer;
}

div.tweet {
  display: flex;
  flex-direction: column;
}

/* Register pagina  */
body.account-aanmaken {
  background-color: black;
}

form.account-aanmaken2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

img.logo_twitter {
  margin-top: 10px;

}

img.logo_twitter:hover {
  cursor: pointer;
  background-color: #333;
  border-radius: 50%;
}

h1.account-aanmaken3 {
  color: white;
  font-size: 31px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
}

input.account-aanmaken4 {

  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

input.account-aanmaken5 {
  margin-top: 25px;
  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

input.account-aanmaken6 {
  margin-top: 25px;
  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

input.account-aanmaken7 {
  margin-top: 25px;
  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

input.account-aanmaken8 {
  margin-top: 25px;
  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: white;
  color: black;
  border-radius: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

input.account-aanmaken8:hover {
  cursor: pointer;
}

div.inloggen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

h1.tweets_plaatsen {
 
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;
}

body.body-tweets {
  background-color:black;
}

div.php {
  color: white;
}

form.tweet-tekst {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



input.tweet_button {
  margin-top: 25px;
  padding: 12px;
  width: 23%;
  padding-left: 20px;
  background-color: white;
  color: black;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

input.tweet_button:hover {
  cursor: pointer;
}

div.account {
  color: black;
display: flex;
justify-content: center;
  
}

textarea.tweet_area{
padding: 12px;
  width: 23%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-top:20px ;
}

img.logo {
  margin-left:700px ;

}
img.logo:hover {
  cursor: pointer;
  background-color: #333;
  border-radius: 50%;
}

h1.inlog{
  display: flex;
  justify-content: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;

}
body.achtergrond{
  background-color: black;
}
input.gebruikersnaam2{
  margin-top: 25px;
  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

div.tweet{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px ;
 border: solid 1px white;
 padding:20px ;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  width: 20%;
 margin-left:39% ;
 
}


body.plaatsen{
  background-color: black;
}
div.account2{
 color: white;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
 display: flex;
 justify-content: center;
  align-items: center;
}

button.button_like_tweets{
 margin-top:60px ;
}

button.button_like_tweets:hover{
  cursor: pointer;
}

div.buttons{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

button.tweets_plaatsen{
  margin-top: 100px;
  padding: 12px;
  margin-left:-33px ;
  width: 194%;
  padding-left: 20px;
  background-color: white;
  color: black;
  border-radius: 3px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border: solid 1px black;
 text-decoration: none;
}

button.tweets_plaatsen:hover{
  cursor: pointer;
}

button.profiel_bewerken{
margin-top:100px ;
  padding: 12px;
 margin-left:-25px ;
  width: 166%;
  padding-left: 20px;
  background-color: white;
  color: black;
  border-radius: 3px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border: solid 1px black;
 text-decoration: none;
}

button.profiel_bewerken:hover{
  cursor: pointer;
}

h1.update_tekst{
 
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size:31px ;
}
div.account7{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

 }
 body.update2{
  background-color: black;
  
 }

form.update_account{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

input.update_account2{
  margin-top: 25px;
  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  
}
input.update_account3{
  margin-top: 25px;
  padding: 12px;
  width: 20%;
  padding-left: 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border: 1px solid white;
}
input.update_account3:hover{
  cursor: pointer;
}
button.update3{
  padding: 12px;
  width: 5%;
  padding-left: 15px;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border: 1px solid white;

}
button.update3:hover{
  cursor: pointer;
}


body.instellingen{
  background-color: black;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1.instellingen2{
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;
}
img.instelling_logo:hover{
background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}
div.account5{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20px ;
}

div.account6{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 margin-top:20px ;
}
body.body_tweet_logica{
  background-color: black;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

img.niet_ingelogd{
  margin-top: 20px;
border-radius: 50%;
  
}

img.niet_ingelogd:hover{
  cursor: pointer;
  background-color: #333;
}
div.account7{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

form.tekst{
  color: white;
  
}
button.terug_naar_hoofdpagina{
  margin-top: 100px;
  padding: 12px;
  width: 97%;
  margin-left:17px ;
  padding-left: 20px;
  background-color: white;
  color: black;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  border: 1px solid white;
}

button.terug_naar_hoofdpagina:hover{
  cursor: pointer;
 
}
h1.Twitter-kloon2{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-175px ;
}
 
  










